body {
    background-color: #58ACFA;
}

#content h1{
    color: #0B3861;
    font-size: 5em;
    font-family: "Verdana", sans-serif;
}

#content button{
    margin: 3em;
    height: 4em;
    width: 7em;
    background-color: #0080FF;
}